body {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
}

.section {
    width: 30%;
}

#game {
    /* border: 1px solid white; */
    background-color: rgba(255, 255, 255, .1);

}