body {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    font-family: 'Azeret Mono', monospace;
}

h1 {
    text-align: center;
}

.section {
    width: 30%;
}

#game {
    /* border: 1px solid white; */
    background-color: rgba(255, 255, 255, .1);
    min-width: 400;
    max-width: 600;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

#left p {
    padding: 1rem;
    
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#start-btn {
    font-family: 'Azeret Mono', monospace;
    padding: 1rem 3rem;
    background-color: rgba(135, 206, 250, 0.5);
    box-shadow: 20px -20px rgba(220, 20, 60, 0.5);
}

.slider-cont{
    display: flex;
    align-items: center;
    gap: 20px;
}

.slider-cont .slider {
    width: 150px;
    height: 30px;
    background: #d3d3d3;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    appearance: none;
  width: 25px; 
  height: 25px; 
  background: rgba(135, 206, 250, 0.5);;
  cursor: pointer; 
}

#speed-slider-value {
    width: 20px;
    padding: 0px 20px;
    text-align: center;
}